parameters:
    level: 8
    fileExtensions:
        - php
    paths:
        - src
    excludePaths:
        - src/Kernel.php
    tmpDir: var/phpstan

    ignoreErrors:
        - '#Property Tenant\\Entity\\Category::\$id is never written, only read#'
        - '#Property Tenant\\Entity\\Payment::\$id is never written, only read#'
        - '#Property Tenant\\Entity\\User::\$id is never written, only read#'
        - '#Property Tenant\\Entity\\Product::\$id is never written, only read#'
        - '#Property Tenant\\Entity\\SaleOrder::\$id is never written, only read#'