{% extends 'components/layout.html.twig' %}

{% block main %}
	<div class="app-content-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-sm-6">
					<h3 class="mb-0">Dashboard</h3>
				</div>
			</div>

			<a class="btn btn-success" href="{{ path('tenant_sale_order_new') }}" role="button">
				<i class="bi bi-power"></i>
				{{ 'New Sale'|trans }}
			</a>
		</div>
	</div>
{% endblock %}
