<nav class="app-header navbar navbar-expand bg-body">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
					<i class="bi bi-list"></i>
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<span class="nav-link">es_AR</span>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#" role="button">
					<i class="bi bi-share"></i>
				</a>
			</li>
			<li class="nav-item" data-lte-toggle="treeview">
				<a class="nav-link" href="#" role="button">
					<i class="bi bi-gear"></i>
					<span>Configuration</span>
				</a>
				<div class="dropdown-menu nav-treeview">
					<span class="dropdown-item">15 Notifications</span>
					<div class="dropdown-divider"></div>
					<a href="#" class="dropdown-item">
						<i class="bi bi-envelope me-2"></i>4 new messages
						<span class="float-end text-secondary fs-7">3 mins</span>
					</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link text-danger" href="/logout" role="button">
					<i class="bi bi-power"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
