<form method="post" action="{{ path(path, {'id': id}) }}" onsubmit="return confirm('{{ confirm_delete|trans }}');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
	<button class="block py-2 px-4 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white">{{ 'Delete'|trans}}</button>
</form>
