<div class="flex items-center p-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400" role="alert">
    {{ include('components/icon_info.html.twig') }}
    <span class="sr-only">Info</span>
    <div>
        <span class="font-medium">{{ message }}</span>
    </div>
</div>