<nav class="app-header navbar navbar-expand bg-body">
	<div class="container-fluid">
		<ul class="navbar-nav">
			<li class="nav-item">
				<a class="nav-link" data-lte-toggle="sidebar" href="#" role="button">
					<i class="bi bi-list"></i>
				</a>
			</li>
		</ul>
		<ul class="navbar-nav ms-auto">
			<li class="nav-item">
				<a class="nav-link" href="#" role="button">
					<i class="bi bi-share"></i>
				</a>
			</li>
			<li class="nav-item" data-lte-toggle="treeview">
				<a class="nav-link" href="#" role="button">
					<i class="bi bi-gear"></i>
					<span>{{ 'Configuration'|trans}}</span>
				</a>
				<div class="dropdown-menu nav-treeview">
					<a href="#" class="dropdown-item">
						<i class="bi bi-gear me-2"></i>
						{{ 'Preferences'|trans}}
					</a>
				</div>
			</li>
			<li class="nav-item">
				<a class="nav-link text-danger" href="{{ path('app_logout') }}" role="button">
					<i class="bi bi-power"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
