{% extends 'components/base.html.twig' %}

{% block body %}
	<body class="bg-gray-50 dark:bg-gray-900">
		{% include 'components/header.html.twig' %}
		{% block flash %}{% endblock %}
		<main class="py-2.5">
			{% block main %}{% endblock %}
		</main>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
{% endblock %}
