{% extends 'components/base.html.twig' %}

{% block body %}
	<body class="layout-fixed sidebar-expand-lg" data-bs-theme="dark">
		<div class="app-wrapper">
			{% include 'components/header.html.twig' %}
			{% include 'components/sidebar.html.twig' %}
			<main class="app-main">
				{% block main %}{% endblock %}
			</main>
		</div>
	</body>
{% endblock %}
