{% extends 'components/layout.html.twig' %}

{% block main %}
	<div class="{{ mc_class }}">
		<div class="{{ mct_class }}">
			<div class="flex flex-col md:flex-row items-center justify-between mb-4 space-y-3 md:space-y-0 md:space-x-4">
				{% block tTitle %}{% endblock %}
			</div>
			<div class="overflow-x-auto">
				<table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
					<thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
						{% block tHead %}{% endblock %}
					</thead>
					<tbody>
						{% block tBody %}{% endblock %}
					</tbody>
				</table>
			</div>
			<nav class="flex flex-col items-center mt-4 space-y-3 md:space-y-0" aria-label="Table navigation">
				<ul class="inline-flex items-stretch -space-x-px">
					{{ knp_pagination_render(pagination) }}
				</ul>
			</nav>
		</div>
	</div>
{% endblock %}
